@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  background: linear-gradient(45deg, gray, black);
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bold {
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input {
    opacity: 70%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    background-color: black;
}

.background-exercise-div {
  opacity: 70%;
  border-radius: 10px;
  color: black;
  background-color: white;
}

.search-outline {
  opacity: 70%;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  color: black;
}

.column-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-align {
  display: flex;
  align-items: flex-start;
}

.row {
  display: flex;
  align-items: center;
}

.bottom-div {
  position: fixed;
  bottom: 0;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, -50%)
}
